<section id="PORTFOLIO">
    <h3>PORTFOLIO</h3>
    <p>some of my best projects so far</p>
    <hr />
    <div>
        <article>
            <img src="https://i1.faceprep.in/ProGrad/Coding-icon.svg" alt="image1" />
            <h4>Business Ludo</h4>
            <p>A commercial game designed using HTML, CSS and JS</p>
        </article>
        <article>
            <img src="https://i1.faceprep.in/ProGrad/Coding-icon.svg" alt="image1" />
            <h4>Bag Security</h4>
            <p>
                Bag security is a device which gives the count of books and state of
                bag zip.
            </p>
        </article>
        <article>
            <img src="https://i1.faceprep.in/ProGrad/Coding-icon.svg" alt="image1" />
            <h4>Health-Care</h4>
            <p>Console based Java project with SQL. Where Users can know Info about diseases or can book appointment
                with doctors</p>
        </article>
    </div>
</section>