<header id="HOME">
    <div>
        <p>I BELIEVE IN</p>
        <h1>EAT(); SLEEP(); CODE(); REPEAT();</h1>
    </div>
</header>
<section id="BIO">
    <img src="./assets/dp.jpeg" alt="Image" />
    <article>
        <h2>GURRAMKONDA YASWANTH</h2>
        <p>
            I am a passionate Engineer With a degree in Electronics and
            Communication Engineering. My very first experience with code was at
            the time when I started my college projects. I used to search the
            similar codes and modify it according to the project requirement, then
            eventually I got intrest in coding and then I started to practice
            coding a lot and in the process I came across web development and then
            decided to pursue Web development. And I have also learnt cloud
            computing and AWS Architecture.
            <span class="break"></span>
            Recently, I have Taken up a Full Stack Development program with FACE.
            I have knowledge of HTML, CSS and JavaScript, JAVA and Data Structure.
            Reading people and goal-oriented Planning are my strengths.
            <span class="break"></span>
            I am currently on the look out for a challenging role to build
            products that make difference.
        </p>
        <a class="link-button"
            href="https://drive.google.com/file/d/1y1qtkqcRSMXucNA11nY9XAmI3O5p6Z5P/view?usp=sharing">Download My
            Resume</a>
    </article>
</section>