<nav>
    <ul>
        <li class="logoText">ProGrad</li>
        <li>
            <ul>
                <li><a href="#Home" class="nav-link">HOME</a></li>
                <li><a href="#BIO" class="nav-link">BIO</a></li>
                <li><a href="#PORTFOLIO" class="nav-link">PORTFOLIO</a></li>
                <li><a href="#SKILLS" class="nav-link">SKILLS</a></li>
                <li><a href="#CONTACT" class="nav-link link-button">CONTACT</a></li>
            </ul>
        </li>
    </ul>
</nav>